<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/css/tytle.css" />
    <link rel="stylesheet" href="/js/delete.js" />
  </head>
  <body>
    <div class="topnav">
      <a class="active" href="/abc">Home</a>
      <a href="/create">Create User</a>
    </div>
    <table>
      <tr class="header">
        <td class="company-list">ID</td>
        <td>Name</td>
        <td>Email</td>
        <td>City</td>
        <td>Actions</td>
      </tr>
      <% users.forEach((user) => { %>
      <tr class="row-1">
        <td class="company-list"><%= user.id %></td>
        <td><%= user.name %></td>
        <td><%= user.email %></td>
        <td><%= user.city %></td>
        <td class="action">
          <a href="/update/<%= user.id %>">edit</a>
          <a href="/delete/<%= user.id %>">delete</a>
        </td>
      </tr>
      <% }); %>
    </table>
  </body>
</html>
